* {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.textContainer {
  width: 160dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 100%;
  height: 50%;
  padding-top: 50px;
}

.textOne {
  font-size: 100px;
  animation: moveForwards 10s linear infinite;
}
.textTwo {
  font-size: 150px;
  animation: moveBackwards 10s linear infinite;
}
.textThree {
  font-size: 200px;
  animation: moveForwards 10s linear infinite;
}
.textFour {
  font-size: 250px;
  animation: moveBackwards 10s linear infinite;
}
.textFive {
  font-size: 300px;
  animation: moveForwards 10s linear infinite;
}

@keyframes moveForwards {
  to {
    transform: rotate(360deg);
  }
}

@keyframes moveBackwards {
  to {
    transform: rotate(-360deg);
  }
}
